{% include 'header.html' %}
<form method="post" action="/store" enctype="multipart/form-data">   
    <div class="card">
        <div class="card-header">
            Ingresar empleado
        </div>
        <div class="card-body">
            <h5 class="card-title">Datos del empleado</h5>
            <p class="card-text">
                Nombre:
                <input type="text" name="txtNombre" id="txtNombre">
                <br>
                Correo electronico:
                <input type="text" name="txtCorreo" id="txtCorreo">
                <br>
                Foto:
                <input type="file" name="txtFoto" id="txtFoto">
                <br>
                <br>

                <input type="submit" value="Agregar">
               </p>
        </div>
    </div> 
</form>
{% include 'footer.html' %}