{% include 'header.html' %}
Formulario para editar
{% for empleado in empleados  %}
    <form method="post" action="/update" enctype="multipart/form-data">   
        <!--Creo este para el id-->
        <input type="text" value="{{ empleado[0] }}" name="txtID" id="txtID">
        <br>
        Nombre:
        <input type="text" value="{{ empleado[1] }}" name="txtNombre" id="txtNombre">
        <br>
        Correo electronico:
        <input type="text" value="{{ empleado[2] }}" name="txtCorreo" id="txtCorreo">
        <br>
        
        Foto:
        <br>
            <img class="img-thumbnail" width="100" src="{{ url_for('uploads', nombreFoto=empleado[3]) }}" alt="">
        <br>

        <input type="file" name="txtFoto" id="txtFoto">
        <br>
        <br>    
        <input type="submit" value="Agregar">
    </form>
{% endfor %}

{% include 'footer.html' %}